* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
}

.logo {
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.navbar a:hover {
  color: #38bdf8;
}

section {
  padding: 100px 60px;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.skill {
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(56,189,248,0.2);
}

.project-card, .exp-card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  margin-top: 20px;
}

.links a {
  margin-right: 15px;
  color: #38bdf8;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 30px;
  background: #020617;
}
.right-img {
  float: right;
  width: 500px;     
  margin: 50px;
  background-color: #0f172a;
}
